<form class="form-wrapper-modal" [formGroup]="form" (ngSubmit)="saveDiaperChange();">
    <h1 *ngIf="!diaperChangeId; else newDiaperChange">הוספת החתלה</h1>
    <ng-template #newDiaperChange>
        <h1>עדכון החתלה</h1>
    </ng-template>
    <mat-form-field appearance="fill">
        <mat-label> תאריך ושעה</mat-label>
        <input autocomplete="autocomplete" formControlName="DateTime" type="datetime-local" matInput placeholder="diaperChangeName" required/>
        <mat-error *ngIf="form.get('DateTime').errors?.required"> חובה להזין תאריך.</mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> פרטים </mat-label>
        <textarea rows="3" autocomplete="autocomplete" formControlName="Note" matInput required></textarea>
        <mat-error *ngIf="form.get( 'Note').errors?.required "> חובה להזין פרטים.</mat-error>

    </mat-form-field>
    <button class=" btn btn-primary mt-1 btn-block" style="max-width: 100px;" type="submit " [disabled]="!form.valid ">שמור</button>
</form>