<div class="container sec-card" style="text-align: right;">
    <div class="row justify-content-center">
        <div class="col-md-12" style="max-width: 750px;">
            <div class="card">
                <header class="card-header">
                    <a routerLink="/secretery" class="float-left btn btn-outline-primary mt-1">מזכירות ראשי</a>
                    <h4 class="card-title mt-2">רישום יולדת</h4>
                </header>
                <article class="card-body">
                    <form [formGroup]="form" (ngSubmit)="addMother();">
                        <div class=" container">

                            <h4>פרטי אם</h4>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>תאריך לידה</label>
                                    <input formControlName="DateOfBirth" required type="date" class="form-control">
                                    <mat-error *ngIf="form.get('DateOfBirth').errors?.required"> חובה להזין תאריך לידה.</mat-error>

                                </div>


                                <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>מייל</label>
                                    <input formControlName="Email" type="email" class="form-control" placeholder=" ">
                                </div>
                                <div class="col form-group">
                                    <label>שם פרטי ומשפחה </label>
                                    <input formControlName="Name" type="text" required class="form-control" placeholder="">
                                    <mat-error *ngIf="form.get('Name').errors?.required"> חובה להזין שם.</mat-error>

                                </div>
                                <!-- form-group end.// -->
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>סוג דם</label>
                                    <select formGroupName="Blood_type" class="form-control">
                                        <option [value]="b" *ngFor="let b of bloods"> {{b}}</option>
                                    </select>
                                </div>

                                <div class="col form-group">
                                    <label>סיסמא למערכת</label>
                                    <input formControlName="Password" required type="password" class="form-control" minlength="4" placeholder="">
                                    <mat-error *ngIf="form.get('Password').errors?.required"> חובה להזין סיסמא.</mat-error>
                                    <mat-error *ngIf="(form.get('Password').dirty && form.get('Password').touched&& form.get('Password').invalid)"> חובה להזין מינימום 4 תווים.</mat-error>

                                </div>
                                <div class="col form-group">

                                    <label>ת.ז.</label>
                                    <input formControlName="UserId" required type="id" class="form-control" minlength="9" placeholder="">
                                    <mat-error *ngIf="form.get('UserId').errors?.required"> חובה להזין ת.ז.</mat-error>
                                    <mat-error *ngIf="(form.get('UserId').dirty && form.get('UserId').touched && form.get('UserId').invalid)"> חובה להזין מינימום 9 תווים.</mat-error>

                                </div>
                                <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>מספר פלאפון</label>
                                    <input formControlName="Phone" required type="tel" class="form-control" placeholder="" pattern="[0-9]{10}">
                                    <mat-error *ngIf="form.get('Phone').errors?.required"> חובה להזין פלאפון.</mat-error>
                                    <mat-error *ngIf="(form.get('Phone').dirty && form.get('Phone').touched && form.get('Phone').invalid)"> טלפון מכיל 10 ספרות ללא מקף</mat-error>


                                </div>

                                <!-- form-group end.// -->
                            </div>

                        </div>
                        <!--  end Morher privet -->
                        <hr>

                        <h4>פרטי התינוק/ות</h4>
                        <mat-icon (click)="addBaby();" class="add-icon">add_circle_outline</mat-icon>
                        <div class="add-baby-mother">

                            <div formArrayName="Babies" *ngFor="let item of form.get('Babies').controls; let i = index;">
                                <h4>תינוק {{i+1}}</h4>
                                <mat-icon (click)="removeBaby(i);" *ngIf="i!=0" class="remove-icon">close</mat-icon>
                                <div [formGroupName]="i">

                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label>שם /כינוי</label>
                                            <input formControlName="Name" type="text" class="form-control" placeholder="">
                                        </div>
                                        <div class="col form-group">
                                            <label>ת.ז.</label>
                                            <input formControlName="BabyId" required type="id" class="form-control" placeholder="">
                                            <mat-error *ngIf="form.controls.Babies.controls[i].controls.BabyId.errors?.required"> חובה להזין ת.ז.</mat-error>
                                            <mat-error *ngIf="(form.controls.Babies.controls[i].controls.BabyId.dirty && form.controls.Babies.controls[i].controls.BabyId.invalid && form.controls.Babies.controls[i].controls.BabyId.touched)"> חובה להזין מינימום 9 תווים.</mat-error>


                                        </div>
                                        <div class="col form-group">
                                            <label>מין</label>
                                            <div class="gender">
                                                <mat-radio-group aria-label="Select an option" formControlName="Gender" required>
                                                    <mat-radio-button value="M">זכר</mat-radio-button>
                                                    <mat-radio-button value="F">נקבה</mat-radio-button>

                                                </mat-radio-group>
                                            </div>


                                        </div>
                                    </div>

                                    <!-- form-group end.// -->


                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label>סוג דם</label>
                                            <select formGroupName="Blood_type" class="form-control">
                                                <option [value]="b" *ngFor="let b of bloods"> {{b}}</option>
                                            </select>
                                        </div>
                                        <!-- form-group end.// -->
                                        <div class="col form-group">
                                            <label>משקל בלידה</label>
                                            <input formControlName="Birth_weight" required type="number" class="form-control">
                                            <mat-error *ngIf="form.controls.Babies.controls[i].controls.Birth_weight.errors?.required  "> חובה להזין משקל.</mat-error>

                                        </div>
                                        <div class="col form-group">
                                            <label>תאריך ושעת לידה</label>
                                            <input formControlName="DateTime_Of_Birth" required type="datetime-local" class="form-control">
                                            <mat-error *ngIf="form.controls.Babies.controls[i].controls.DateTime_Of_Birth.errors?.required  "> חובה להזין תאריך ושעה</mat-error>

                                        </div>
                                        <!-- form-group end.// -->
                                    </div>

                                    <div class="form-group">
                                        <label>הערות</label>
                                        <textarea formControlName="Note" rows="1" class="form-control"></textarea>
                                    </div>



                                </div>
                                <hr>
                                <!-- Chosen name: {{ orderform.controls.Babies.controls[i].controls.name.value }} -->
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" [disabled]="!form.valid" style="max-width: 100px;" class="btn btn-primary btn-block"> שמירה  </button>
                        </div>
                        <!-- form-group//       -->
                    </form>
                </article>
                <!--card-body end .// -->
            </div>
        </div>
    </div>
</div>