<div class="container" style="text-align: right;">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6" style="max-width:400px">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">מזכירות</h4>
                </header>
                <article class="card-body">
                    <h4 class="card-title mt-2">יולדות</h4>
                    <a class=" btn btn-outline-primary mt-1 btn-block" routerLink="/secreterynewmother">רישום יולדת</a>
                    <a class=" btn btn-outline-primary mt-1 btn-block" routerLink="/secreteryremovemother">שחרור יולדת</a>

                    <h4 class="card-title mt-2">אחיות</h4>
                    <a class=" btn btn-outline-primary mt-1 btn-block" routerLink="/secreterynewnurse">רישום אחות</a>

                    <a class=" btn btn-outline-primary mt-1 btn-block" routerLink="/secreteryremovenurse">הסרת אחות</a>
                    <hr>

                    <button class=" btn btn-primary mt-1 btn-block" style="max-width: 100px;" (click)="logout()">יציאה</button>

                </article>
            </div>
        </div>
    </div>
</div>