<nav mat-tab-nav-bar mat-align-tabs="end">
    <a mat-tab-link>
        <button mat-button routerLink="/mother" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">כניסה</button>
        <!-- <mat-menu #menu="matMenu"> -->
            <!-- <button mat-menu-item routerLink="/mother">כניסה</button> -->
            <!-- <button mat-menu-item routerLink="/nurse">אחות</button>
            <button mat-menu-item routerLink="/secretery">מזכירה</button> -->
        <!-- </mat-menu> -->
    </a>
    <a mat-tab-link class="home" routerLink="/home"> </a>

    <span class="div-name" *ngIf="user; else guest">שלום {{user.Name}}
        <mat-icon class="logout" (click)="logout()">login</mat-icon>
      </span>
    <ng-template #guest>
        <span class="div-name">שלום אורחת</span>

    </ng-template>
</nav>