<p>
  babies works!
</p>
<!-- <button>התרחצתי</button>
<button>אכלתי</button>
<button>חיתלו אותי</button> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">עדכון <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="src\app\components\babies\babies.component.meal.html">הארוחות שלי</a>
        <a class="nav-item nav-link" href="#">ההחתלות שלי</a>
        <a class="nav-item nav-link " href="#">הטיפולים שלי</a>
      </div>
    </div>
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Print</button><!--Malkala -->
  </nav>
<br>

<button type="button" class="btn btn-outline-primary">חותלתי</button>
<button type="button" class="btn btn-primary">התרחצתי</button>
<br>
<button type="button" class="btn btn-outline-secondary">אכלתי</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<br>
<button type="button" class="btn btn-outline-success">טופלתי</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-outline-primary">Primary</button> 
