<div class="container" style="text-align: right;">
    <div class="row justify-content-center">
        <div [ngClass]="{'col-md-8': userIdVal==0 }" style="max-width: 600px;">
            <div class="card">
                <header class="card-header">
                    <a routerLink="/secretery" class="float-left btn btn-outline-primary mt-1">מזכירות ראשי</a>

                    <h4 class="card-title mt-2" *ngIf="userIdVal!=0; else newNurse">עידכון אחות</h4>
                    <ng-template #newNurse>
                        <h4 class="card-title mt-2">רישום אחות</h4>
                    </ng-template>


                </header>
                <article class="card-body">
                    <form [formGroup]="form" (ngSubmit)="saveNurse();">
                        <div class=" container">

                            <h4>פרטי אחות</h4>

                            <div class="form-row">



                                <div class="col form-group">
                                    <label>שם פרטי ומשפחה </label>
                                    <input formControlName="Name" type="text" required class="form-control" placeholder="">
                                    <mat-error *ngIf="form.get('Name').errors?.required"> חובה להזין שם.</mat-error>

                                </div>
                                <div class="col form-group">
                                    <label>סיסמא למערכת</label>
                                    <input formControlName="Password" required type="password" class="form-control" minlength="4" placeholder="">
                                    <mat-error *ngIf="form.get('Password').errors?.required"> חובה להזין סיסמא.</mat-error>
                                    <mat-error *ngIf="(form.get('Password').dirty && form.get('Password').touched&& form.get('Password').invalid)"> חובה להזין מינימום 4 תווים.</mat-error>

                                </div>
                            </div>

                            <div class="form-row">


                                <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>מייל</label>
                                    <input formControlName="Email" required type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" class="form-control" placeholder=" ">
                                    <mat-error *ngIf="form.get('Email').errors?.required"> חובה להזין מייל.</mat-error>
                                    <mat-error *ngIf="(form.get('Email').dirty && form.get('Email').touched &&form.get('Email').invalid)"> מייל לא תקין</mat-error>

                                </div>
                                <div class="col form-group">
                                    <label>תאריך לידה</label>
                                    <input formControlName="DateOfBirth" required type="date" class="form-control">
                                    <mat-error *ngIf="form.get('DateOfBirth').errors?.required"> חובה להזין תאריך לידה.</mat-error>

                                </div>
                                <!-- form-group end.// -->
                            </div>
                            <div class="form-row">



                                <div *ngIf="userIdVal==0" class="col form-group">

                                    <label>ת.ז.</label>
                                    <input formControlName="UserId" required type="number" class="form-control" min="000000000" max="999999999" placeholder="">
                                    <mat-error *ngIf="form.get('UserId').errors?.required"> חובה להזין ת.ז.</mat-error>
                                    <mat-error *ngIf="form.get('UserId').errors?.min"> חובה להזין מינימום 9 תווים.</mat-error>
                                    <mat-error *ngIf="form.get('UserId').errors?.max"> חובה להזין מקסימום 10 תווים.</mat-error>
                                </div>
                                <div *ngIf="userIdVal!=0" class="col form-group">

                                    <p>ת.ז.</p>
                                    <p>{{form.get('UserId').value}}</p>
                                </div>
                                <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>מספר פלאפון</label>
                                    <input formControlName="Phone" required type="tel" class="form-control" placeholder="" pattern="[0-9]{10}">
                                    <mat-error *ngIf="form.get('Phone').errors?.required"> חובה להזין פלאפון.</mat-error>
                                    <mat-error *ngIf="(form.get('Phone').dirty && form.get('Phone').touched && form.get('Phone').invalid)"> טלפון מכיל 10 ספרות ללא מקף</mat-error>


                                </div>

                                <!-- form-group end.// -->
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="!form.valid" style="max-width: 100px;" class="btn btn-primary btn-block"> שמירה  </button>
                        </div>
                        <!-- form-group//       -->
                    </form>
                </article>
                <!--card-body end .// -->
            </div>
        </div>
    </div>
</div>