<div class="body-content-large">
    <h1>!אמא יקרה - ברוכה הבאה</h1>
    <br> <br>
    <h2>תוכנה זאת פותחה במיוחד בשבילך</h2>
    <h2>.למענך ולמען התינוק שלך</h2>
    <h2>כדי שתוכלי בכל זמן ועת </h2>
    <h2>.לדעת ולעקוב אחר הטיפול בבייבי שלך </h2>
    <h2>וכמובן גם לעדכן אותנו</h2>
    <h2>.בכל מה שאת נותנת ומעניקה לו</h2>
    <br> <br>
    <h2>הרבה מזל טוב ונחת</h2>
    <h1>.צוות מחלקת יולדות</h1>
    <!-- <h1>home</h1>
    <form ng-submit="user" ng-controller="ExampleController">
        <input id="u" type="text" name="u" placeholder="שם משתמש" required="required" />
        <input type="password" name="p" placeholder="ת.ז." required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">כניסה</button>
    </form> -->
</div>


<!-- 
<router-outlet></router-outlet> -->