<div class="container" style="text-align: right">
    <div class="row justify-content-center">
        <div class="col-md-10" style="max-width: 500px">
            <div class="card">
                <header class="card-header">
                    <a (click)="logout()" class="float-left btn btn-outline-primary mt-1">יציאה</a
          >
        </header>
        <form [formGroup]="form">
          <mat-icon (click)="clear();" *ngIf="form.get('baby').value!=''" style="cursor: pointer;vertical-align: middle;">close</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label> תינוק</mat-label>
            <input
              type="text"
              placeholder="חיפוש תינוק"
              aria-label="תינוק"
              matInput
              formControlName="baby"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let baby of filteredBabies| async" [value]="baby">
                {{ baby.Name }} {{ baby.BabyId }}
              </mat-option>
            </mat-autocomplete>
            <mat-error style="text-align: right;" *ngIf="form.get('baby').errors?.required"> חובה לבחור תינוק .</mat-error>

          </mat-form-field>
  
        <article class="card-body">
          <div class="row">
            <button mat-icon-button [disabled]="!form.valid" color="transparent"  (click)="openMealsModal();"
            [ngClass]="showError()" class="big-button">
              <mat-icon matTooltip="ארוחות" >restaurant</mat-icon>
           </button>
           <button mat-icon-button [disabled]="!form.valid"  class="big-button" color="transparent" (click)="openTreatmentsModal();">
            <mat-icon matTooltip="טיפול">healing</mat-icon>
         </button>
          </div>
          <div class="row">
            <button mat-icon-button [disabled]="!form.valid"  class="big-button" color="transparent" (click)="openBathModal();">
              <mat-icon matTooltip="רחצה" >opacity</mat-icon>
           </button>
           <button mat-icon-button [disabled]="!form.valid"  class="big-button" color="transparent" (click)="openDiaperChangesModal();">
            <mat-icon matTooltip="החתלה">face</mat-icon>
         </button>

           </div>
        </article>
        <div class="details" *ngIf="form.get('baby').value!= ''">
          <p>
            <span><strong>האם:</strong> {{form.get('baby').value.Users.Name}} &nbsp;<strong>ת.ז:</strong> {{form.get('baby').value.Users.UserId}} &nbsp;<strong>פלאפון:</strong> {{form.get('baby').value.Users.Phone}}</span>
          </p> 
          <p>
          <span><strong> תאריך לידת התינוק:</strong> {{form.get('baby').value.DateTime_Of_Birth | date:"dd/MM/yyyy HH:mm"}} &nbsp;<strong>משקל:</strong> {{form.get('baby').value.Birth_weight}} גרם</span>
        </p> 
        <p *ngIf="!isEditNote">
          <span> <mat-icon (click)="isEditNote=true;" style="cursor: pointer;vertical-align: sub;">edit</mat-icon><strong>הערות:</strong> {{form.get('baby').value.Note }} &nbsp; </span>
        </p> 
        <p *ngIf="isEditNote" >
          <span><mat-icon style="cursor: pointer;" (click)="isEditNote=false;">cancel</mat-icon><mat-icon (click)="saveNote(input.value);" style="cursor: pointer;">save</mat-icon><textarea rows="1" matInput #input>{{form.get('baby').value.Note }}</textarea></span>
        </p>
      
      </div>
        <br>
      </form>
        <!--card-body end .// -->
      </div>
      <!-- card.// -->
    </div>
    <!-- col.//-->
  </div>
  <!-- row.//-->
</div>

<div *ngIf="babiesNoMealsArr.length>0" class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">
  <div *ngFor="let baby of babiesNoMealsArr" class="ticker-item" (click)="openModalAddMeal(baby.BabyId);">
    <!-- <mat-icon >sentiment_very_dissatisfied</mat-icon>  -->
     {{baby.Name}} {{baby.BabyId}} </div>
</div></div></div>