<div class="container" style="text-align: right">
    <div class="row justify-content-center">
        <div class="col-md-10" style="max-width: 500px">
            <div class="card">
                <header class="card-header">
                    <a (click)="logout()" class="float-left btn btn-outline-primary mt-1">יציאה</a
          >
        </header>
        <form [formGroup]="form">
          <mat-icon (click)="clear();" *ngIf="form.get('baby').value!=''" style="cursor: pointer;vertical-align: middle;">close</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label> תינוק</mat-label>
            <input
              type="text"
              placeholder="חיפוש תינוק"
              aria-label="תינוק"
              matInput
              formControlName="baby"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let baby of filteredBabies| async" [value]="baby">
                {{ baby.Name }} {{ baby.BabyId }}
              </mat-option>
            </mat-autocomplete>
            <mat-error style="text-align: right;" *ngIf="form.get('baby').errors?.required"> חובה לבחור תינוק .</mat-error>

          </mat-form-field>
    
        <article class="card-body">
          <div class="row">
            <button mat-icon-button [disabled]="!form.valid" color="transparent"  (click)="openMealsModal();"
            [ngClass]="showError()">
              <mat-icon matTooltip="ארוחות" >restaurant</mat-icon>
           </button>
           <button mat-icon-button [disabled]="!form.valid" color="transparent">
            <mat-icon matTooltip="טיפולים">healing</mat-icon>
         </button>

            <!-- <mat-icon [disabled]="!form.valid" matTooltip="ארוחות">restaurant</mat-icon>
            <mat-icon [disabled]="!form.valid" matTooltip="טיפולים">healing </mat-icon> -->
          </div>
          <div class="row">
            <button mat-icon-button [disabled]="!form.valid" color="transparent" (click)="openBathModal();">
              <mat-icon matTooltip="רחצה" >opacity</mat-icon>
           </button>
           <button mat-icon-button [disabled]="!form.valid" color="transparent">
            <mat-icon matTooltip="החתלה">face</mat-icon>
         </button>

            <!-- <mat-icon [disabled]="!form.valid" matTooltip="רחצה" (click)="openBathModal();">opacity</mat-icon>
            <mat-icon [disabled]="!form.valid" matTooltip="החתלה">face</mat-icon> -->
          </div>
          <!-- face opacity restaurant  child_care child_friendly -->
          <!-- <div class=" container">

                        <p class="btn btn-warning btn-block btn-large">{{note}}</p>

                        <div class="btn-group  form-group btn-block">
                            <div class="row">

                                <button href="#" class="btn btn-primary btn-diapered">
                                <button href="#" class="btn btn-primary btn-care">
                            </div>
                            <div class="row">
                                <button href="#" class="btn btn-primary btn-meal">
                                <button href="#" class="btn btn-primary btn-bath ">

                            </div>
                        </div>
                        <div class="btn-group  form-group btn-block">
                            <div ngbDropdown class="d-inline-block">
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>בדיקת צהבת
                                    <button ngbDropdownItem>בדיקת חום
                                    <button ngbDropdownItem>ביקור רופא
                                </div>
                            </div>
                        </div>
                    </div> -->
        </article>
      </form>
        <!--card-body end .// -->
      </div>
      <!-- card.// -->
    </div>
    <!-- col.//-->
  </div>
  <!-- row.//-->
</div>

<div *ngIf="babiesNoMealsArr.length>0" class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">
  <div *ngFor="let baby of babiesNoMealsArr" class="ticker-item" (click)="openModalAddMeal(baby.BabyId);">{{baby.Name}} - {{baby.BabyId}} </div>
</div></div></div>