<div class="container" style="text-align: right">
    <div class="row justify-content-center">
        <div class="col-md-10" style="max-width: 500px">
            <div class="card">
                <header class="card-header">
                    <a (click)="logout()" class="float-left btn btn-outline-primary mt-1">יציאה</a
          >
        </header>
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label> תינוק</mat-label>
            <input
              type="text"
              placeholder="חיפוש תינוק"
              aria-label="תינוק"
              matInput
              formControlName="baby"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let baby of filteredBabies| async" [value]="baby">
                {{ baby.Name }} {{ baby.BabyId }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <article class="card-body">
          <div class="row">
            <mat-icon matTooltip="ארוחות">restaurant</mat-icon>
            <mat-icon matTooltip="טיפולים">healing </mat-icon>
          </div>
          <div class="row">
            <mat-icon matTooltip="רחצה">opacity</mat-icon>
            <mat-icon matTooltip="החתלה">face</mat-icon>
          </div>
          <!-- face opacity restaurant  child_care child_friendly -->
          <!-- <div class=" container">

                        <p class="btn btn-warning btn-block btn-large">{{note}}</p>

                        <div class="btn-group  form-group btn-block">
                            <div class="row">

                                <button href="#" class="btn btn-primary btn-diapered">
                                <button href="#" class="btn btn-primary btn-care">
                            </div>
                            <div class="row">
                                <button href="#" class="btn btn-primary btn-meal">
                                <button href="#" class="btn btn-primary btn-bath ">

                            </div>
                        </div>
                        <div class="btn-group  form-group btn-block">
                            <div ngbDropdown class="d-inline-block">
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem>בדיקת צהבת
                                    <button ngbDropdownItem>בדיקת חום
                                    <button ngbDropdownItem>ביקור רופא
                                </div>
                            </div>
                        </div>
                    </div> -->
        </article>
        <!--card-body end .// -->
      </div>
      <!-- card.// -->
    </div>
    <!-- col.//-->
  </div>
  <!-- row.//-->
</div>