.myclass {
    background-color: #22bd4b;
    border-radius: 28px;
    border: 1px solid #00f519;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}


/* len */

.myclass:hover {
    background-color: #60e319;
}

.myclass:active {
    position: relative;
    top: 1px;
}

.row {
    margin: 0px;
    width: 100%;
}

button.btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    height: 182px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

button mat-icon {
    color: #ff5340;
    font-size: 100px;
    height: 100px;
    width: 100px;
    padding: 38px 0px
}

button {
    height: 140px;
    width: 140px;
    cursor: pointer;
    border: 1px solid #ff5340;
    border-radius: 50%;
    margin: 10px;
}

.row {
    text-align: center;
    justify-content: center;
}

button[disabled] {
    border-color: rgba(0, 0, 0, .26);
}

button[disabled] mat-icon {
    color: rgba(0, 0, 0, .26);
}


/* OUTER CONTAINER */

.tcontainer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
}


/* MIDDLE CONTAINER */

.ticker-wrap {
    width: 100%;
}


/* INNER CONTAINER */

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-name: ticker;
    animation-duration: 12s;
}

.ticker-move:hover {
    animation-play-state: paused;
    /* Pause scroll on mouse hover */
}


/* ITEMS */

.ticker-item {
    display: inline-block;
    padding: 2rem 1rem;
    line-height: 34px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    white-space: pre-wrap;
    height: 140px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 15px;
}

.ticker-move div:nth-child(even) {
    color: #ff5340;
}

.ticker-move div:nth-child(odd) {
    color: #0095b7;
}