<div class="container" style="text-align: right;">
    <br>
    <hr>


    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card ">
                <header class="card-header">
                    <a href="./login" class="float-left btn btn-outline-primary mt-1">יציאה</a>
                    <h4 class="card-title mt-2">ברוכה הבאה {{name}}</h4>
                </header>
                <article class="card-body ">
                    <form>
                        <div class=" container">
                            <form>
                                <p class="btn btn-warning btn-block btn-large">{{note}}</p>
                                <button class="btn btn-primary btn-block btn-large">{{h_meal}}:{{m_meal}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ארוחות </button>
                                <button class="btn btn-primary btn-block btn-large"> בריאות</button>
                                <button class="btn btn-primary btn-block btn-large">החתלות</button>
                            </form>

                        </div>
                    </form>
                </article>
                <!--card-body end .// -->
            </div>
            <!-- card.// -->
        </div>
        <!-- col.//-->

    </div>
    <!-- row.//-->


</div>
<!--container end.//-->

<br><br>